.navbar{
    background-color: rgb(121, 121, 121);
    font-size: 25px;
}
.footer{
    background-color: rgb(121, 121, 121);
    color: rgb(0, 0, 0);
}
.toast:not(.show) {
     display:inline-block
}

#modal-fix {
    display: none;
}

.modal-body img {
    max-height: 50px;
    object-fit: cover;
    margin-right: 5px;
    max-width: 50px;
}

.castl {
    width: 120px;
}